* {
  margin: 0;
  padding: 0;
  background-color: #f1eddb;
  color: #ff9a56;
  text-align: center;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* content picture {
  text-align: center;
  width: 100%;
} */

/* content profile {
  text-align: center;
  width: 250px;
} */

#content {
  background: #333 url(../img/Hackfest.png) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  position: relative;
  margin: 1rem 0;
}

#content .content-picture {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(48, 19, 19, 0.4);
}


h1 {
  color: #bc4e3a;
  text-align: center;
  box-sizing: border-box;
}

a {
  color: #c66c58;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


a:hover,
a:focus {
  color: #e98484;
}

img {
  margin-top: 80px;
  width: 900px;
  max-width: 100%;
  height: auto;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: d36c55;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#logo {
  display: inline-block;
  align-content: center;
  margin: 15px; /* margin: 20px was off */
  float: none;
  height: 60px;
  width: auto; /* correct proportions to specified height */
  border-radius: 50%; /* makes it a circle */
}

.text-primary {
  color: #c66c58;
} 

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  display: list-item;
}


#navbar ul li a {
  /* color: #fff; */
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background-color: #bc4e3a;
  border-radius: 5px;
}


.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}


.contributors {
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2em;
}

.contributors a:not(:last-of-type)::after {
  content: ' |';
  color: #ff9a56;
}
.maintainers {
  width: 87%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2em;
}

.maintainers a:not(:last-of-type)::after {
  content: ' |';
  color: #ff9a56;
}


@media (max-width: 600px) {
  .contributors {
    display: flex;
    flex-direction: column;
  }
  .contributors a {
    margin: 5px 0;
  }
  .contributors a:not(:last-of-type)::after {
    content: '';
  }
}
/* 
#maintainers .cards{
  display: flex;
  padding: 1rem;
  max-width: auto;
}

#maintainers .cards .card{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#maintainers .cards img{
 max-width: 200px;
 /* height: 100px; */
 /* align-content: center;
 border-radius: 5rem;
} */ 

#maintainers .cards{
  display: flex;
  padding: 1rem;
  max-width: auto;
}

.image-area
{
  display: flex;
  flex: 1;
  flex-wrap: wrap-reverse;
  align-content: center;
  justify-content: center;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute; */
}

.img-wrapper
{
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(104, 42, 42, 0.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 250px;
	width: 200px;

	transition: 2s;
}
.img-wrapper:hover img
{

	transform: scale(1.1);
}

.img-wrapper h2
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}


/* Contributer Card */

.containers {
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.card {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 300px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
  
  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    transition: .5s;
  }
  
  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100px;
  z-index: 1;
  padding: 1rem;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
     
    .job-title {
        font-size: 1rem;
        line-height: 2.5rem;
        color: #333;
        font-weight: 300;
    }
  }
}



